body {
  color: #252525;
  font-family: Georgia, 'Times New Roman', serif;
}

/* HEADER */
.header {
  background-color: #252525;
  padding: 20px 0;
}
.header-container {
  margin: 0 auto;
  max-width: 960px;
}
.header-container::before, .header-container::after{
  clear: both;
  content: '';
  display: table;
}
.header-logo {
  display: block;
  float: left;
  margin-left: 10px;
}
.header-nav {
  float: right;
  margin-right: 10px;
}
.header-nav li {
  display: inline-block;
}
.header-nav a {
  color: #FFF;
  display: block;
  font-size: 1.125rem;
  padding: 10px;
  text-decoration: none;
}

/* INTRO */
.intro {
  background-image: url('../images/bg-intro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 150px 0;
  text-align: center;
}
.intro h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.intro h1::after {
  content: '';
  background-color: #FFF;
  display: block;
  height: 4px;
  margin: 10px auto;
  width: 20px;
}
.intro p {
  font-size: 1.125em;
  font-style: italic;
}

/* ABOUT */
.about {
  padding: 60px 0;
  text-align: center;
}
.about h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 60px;
}
.about-container {
  margin: 0 auto;
  max-width: 960px;
}
.about-container::before, .about-container::after{
  clear: both;
  content: '';
  display: table;
}
.about-item {
  float: left;
  margin: 0 10px;
  width: 460px;
}
.about-item img {
  display: block;
  max-width: 100%;
}
.about-item h3 {
  background-color: #252525;
  color: #FFF;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 1em;
  padding: 5px 0 10px;
  position: relative;
  top: -25px;
  width: 220px;
}
.about > p {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.4em;
  margin: 20px auto;
  max-width: 460px;
}