* {
  box-sizing: border-box;
}

body {
  color: #252525;
  font-family: Georgia, 'Times New Roman', serif;
}

/* HEADER */
.header {
  background-color: #252525;
  padding: 20px 0;
}
.header-container {
  margin: 0 auto;
  max-width: 960px;
}
.header-container::before, .header-container::after{
  clear: both;
  content: '';
  display: table;
}
.header-logo {
  display: block;
  float: left;
  margin-left: 10px;
}
.header-nav {
  float: right;
  margin-right: 10px;
}
.header-nav li {
  display: inline-block;
}
.header-nav a {
  color: #FFF;
  display: block;
  font-size: 1.125rem;
  padding: 10px;
  text-decoration: none;
}

/* INTRO */
.intro {
  background-image: url('../images/bg-intro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 150px 0;
  text-align: center;
}
.intro h1 {
  font-size: 3rem;
  text-transform: uppercase;
}
.intro h1::after {
  content: '';
  background-color: #FFF;
  display: block;
  height: 4px;
  margin: 10px auto;
  width: 20px;
}
.intro p {
  font-size: 1.125em;
  font-style: italic;
}

/* ABOUT */
.about {
  padding: 60px 0;
  text-align: center;
}
.about h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 60px;
}
.about-container {
  margin: 0 auto;
  max-width: 960px;
}
.about-container::before, .about-container::after{
  clear: both;
  content: '';
  display: table;
}
.about-item {
  float: left;
  margin: 0 10px;
  width: 460px;
}
.about-item img {
  display: block;
  max-width: 100%;
}
.about-item h3 {
  background-color: #252525;
  color: #FFF;
  font-size: 2.25rem;
  font-style: italic;
  line-height: 1em;
  padding: 5px 0 10px;
  position: relative;
  top: -25px;
  width: 220px;
}
.about > p {
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.4em;
  margin: 20px auto;
  max-width: 460px;
}

/* PRODUCTS */
.products {
  background-color: #E7E4D8;
  border-bottom: 3px solid #D6D3C8;
  border-top: 3px solid #D6D3C8;
  padding: 60px 0;
}

.products-container {
  margin: 0 auto;
  max-width: 960px;
}
.products-container::before, .products-container::after{
  clear: both;
  content: '';
  display: table;
}

.products-item {
  float: left;
  margin: 0 10px 20px;
  width: 300px;
}
.products-item h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
.products-item h2::before {
  background-clip: content-box;
  background-color: currentColor;
  border: 10px solid currentColor;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100px;
  margin: 20px auto;
  padding: 5px;
  width: 100px;
}
h2.product-paulista::before {
  color: #492901;
}
h2.product-carioca::before {
  color: #C17139;
}
h2.product-mineiro::before {
  color: #D7A54D;
}
.products-item p {
  font-size: 0.875rem;
  line-height: 1.4em;
}
.products-btn {
  color: inherit;
  border: 3px solid currentColor;
  display: block;
  font-weight: bold;
  margin: 20px auto 0;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 180px;
}

/* STORES */
.stores {
  margin: 0 auto;
  max-width: 960px;
  padding: 20px 0;
}
.stores-item {
  margin: 60px auto;
}
.stores-item::before, .stores-item::after {
  clear: both;
  content: '';
  display: table;
}
.stores-item img {
  display: block;
  float: left;
  margin: 0 10px;
  width: 460px;
}
.stores-item > div {
  float: left;
  margin: 0 10px;
  width: 460px;
}
.stores-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}
.stores-item p {
  font-size: 1.125rem;
  line-height: 1.4em;
  margin-bottom: 40px;
  max-width: 320px;
}
.stores-btn {
  border: 3px solid currentColor;
  color: inherit;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: bold;
}

/* NEWSLETTER */
.newsletter {
  background-color: #E7E4D8;
  padding: 30px 0;
}

.newsletter-container {
  margin: 0 auto;
  max-width: 960px;
}
.newsletter-container::before, .newsletter-container::after {
  content: '';
  clear: both;
  display: table;
}

.newsletter-info {
  float: left;
  margin: 0 10px;
  width: 460px;
}
.newsletter-info h2 {
  font-size: 2.25em;
}
.newsletter-info p {
  font-size: 1.5em;
  font-style: italic;
}

.newsletter form {
  float: right;
  margin: 10px 10px 0;
  width: 460px;
}
.newsletter form > label{
  display: none;
}
.newsletter form > input {
  background: none;
  border: 3px solid #252525;
  float: left;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.5rem;
  font-style: italic;
  outline: none;
  padding: 10px;
  width: 320px;
}
.newsletter form > button {
  background: #252525;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1.5rem;
  outline: none;
  padding: 13px 0;
  text-transform: uppercase;
  width: 140px;
}

/* FOOTER */
.footer {
  background-color: #D3D6C8;
  padding: 40px 0;
}

.footer-container {
  margin: 0 auto;
  max-width: 960px;
}
.footer-container::before, .footer-container::after {
  clear: both;
  content: '';
  display: table;
}

.footer p {
  float: left;
  font-size: 1.125em;
  line-height: 1.4em;
  margin: 0 10px;
}
.footer img {
  display: block;
  float: right;
  margin: 0 10px;
}