@media only screen and (max-width: 979px) {
  /* MAIN */
  .container {
    max-width: 720px;
  }

  /* SIDE FILTER */
  .filter {
    width: 220px;
  }

  /* PRODUCTS */
  .products {
    width: 460px;
  }
  .products li {
    width: 220px;
  }
}

@media only screen and (max-width: 739px) {
  /* MAIN */
  .container {
    max-width: 300px;
  }

  /* SIDE FILTER */
  .filter {
    display: none;
  }

  /* PRODUCTS */
  .products {
    margin: 0 auto;
    width: 300px;
  }
  .products li {
    width: 140px;
  }
}