@media (max-width: 739px) {
  /* HEADER */
  .header {
    flex-direction: column;
  }
	.header-logo {
    margin: 0 auto;
	}
	.header-menu ul {
    text-align: center;
    margin-top: 10px;
  }
  
  /* MAIN CONTAINER */
  .main-container {
    flex-direction: column;
  }
  /* SIDE MENU */
  .side-menu {
    margin: 10px;
    background: none;
    max-width: 100%;
    justify-content: center;
  }
  .side-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .side-menu li {
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .side-menu li a {    
    width: 44px;
    height: 44px;
    border: none;
    background-color: #252525;
    border-radius: 4px;
    overflow: hidden;
    padding: 10px;
    color: #252525;
  }
  .side-menu li a::before {
    top: 0;
    margin: 0;
  }

  /* PRODUCTS */
  .products-header {
    flex-direction: column;
  }
  .products-button {
    margin-top: 10px;
  }

  .products-item {
    flex-direction: column;
  }
}