.container {
  display: flex;
  max-width: 960px;
  margin: 0 auto;
}

/* HEADER */
.header {
  background: #252525;
  padding: 15px 0;
}
.header-logo {
	margin: 0 10px;
	flex: 1;
}
.header-nav {
  align-self: center;
}
.header-nav ul {
  list-style: none;
}
.header-nav li {
  display: inline-block;
}
.header-nav a {
  color: #fff;
  font-size: 1.125em;
  padding: 10px;
	text-decoration: none;
}

/* INTRO*/
.intro {
	background: url('../images/bg-intro.jpg') no-repeat center center;
	background-size: cover;
  color: #fff;
  padding: 150px 0;
  text-align: center;
}

.intro h1 {
  font-size: 3em;
  margin: 0 10px;
	text-transform: uppercase;
}

.intro h1::after {
  background: #fff;
	content: '';
	display: block;
	height: 4px;
  margin: 10px auto;
  width: 20px;
}

.intro p {
	font-size: 1.125em;
	font-style: italic;
}

/* ABOUT */
.about {
  padding: 60px 0;
}

.about h2 {
  font-size: 2.25em;
  margin-bottom: 60px;
  text-align: center;
}

.about-item {
  flex: 1;
  margin: 0 10px;
}
.about-item img {
  display: block;
  max-width: 100%;
}
.about-item h3 {
	background: #252525;
	color: #fff;
	font-size: 2.25em;
	font-style: italic;
	font-weight: normal;
	line-height: 1em;
  padding: 5px 0 10px;
  position: relative;
	text-align: center;
  top: -25px;
  width: 220px;
}

.about > p {
	font-size: 1.125em;
  font-style: italic;
	line-height: 1.4em;
  margin: 20px auto;
  max-width: 460px;
	padding: 0 10px;
	text-align: center;
}

/* PRODUCTS */
.products {
	background: #e7e4d8;
	border-bottom: 3px solid #d6d3c8;
	border-top: 3px solid #d6d3c8;
	padding: 60px 0;
}

.products-item {
	flex: 1;
	margin: 0 10px 40px;
}
.products-item h2 {
	font-size: 2.25em;
	text-align: center;
	margin-bottom: 20px;
}

.products-item h2::before {
  background: currentColor;
	border: 5px solid #e7e4d8;
	border-radius: 50%;
	box-shadow: 0 0 0 5px currentColor;
	content: '';
	display: block;
	height: 100px;
	width: 100px;
	margin: 20px auto;
}

h2.products-paulista::before {
	color: #492901;
}

h2.products-carioca::before {
	color: #c17139;
}

h2.products-mineiro::before {
	color: #d7a54d;
}

.products-item p {
	font-size: 0.875em;
	line-height: 1.4em;
}

.products-btn {
	border: 3px solid #252525;
	color: #252525;
	display: block;
	font-size: 1.125em;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	margin: 20px auto 0;
	padding: 15px 0;
	width: 180px;
}

/* STORES */
.stores {
	padding: 60px 0;
}

.stores-item {
	margin-bottom: 40px;
}
.stores-item .stores-img, .stores-item .stores-info {
	flex: 1;
	margin: 0 10px;
}
.stores-item .stores-img img{
	display: block;
	max-width: 100%;
}

.stores-item h2 {
	font-size: 2.25em;
	margin-bottom: 20px;
}

.stores-item p {
	font-size: 1.125em;
	line-height: 1.4em;
	margin-bottom: 40px;
	max-width: 320px;
}

.stores-item a {
	border: 3px solid;
	color: #252525;
	font-size: 1.125em;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: uppercase;
}

/* NEWSLETTER */

.newsletter {
	background: #e7e4d8;
	padding: 30px 0;
}

.newsletter-info {
	flex: 1;
	margin: 0 10px;
}
.newsletter-info h2 {
	font-size: 2.25em;
}

.newsletter-info p {
	font-size: 1.5em;
	font-style: italic;
}

.newsletter form {
	align-content: center;
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	margin: 0 10px;
}
.newsletter form label {
	display: none;
}

.newsletter input {
	align-self: flex-start;
	background: none;
	border: 3px solid #252525;
	flex: 1;
	font-family: Georgia, serif;
	font-size: 1.5em;
	font-style: italic;
	padding: 10px;
}

.newsletter button {
	align-self: flex-start;
	background: #252525;
	border: none;
	color: #fff;
	cursor: pointer;
	flex: 1;
	font-family: Georgia, serif;
	font-size: 1.5em;
	padding: 13px;
	text-transform: uppercase;
}

/* FOOTER */

.footer {
	background: #d6d3c8;
	padding: 40px 0;
}

.footer p {
	flex: 1;
	margin: 0 10px;
}
.footer .footer-img {
	align-self: center;
	margin: 0 10px;
}
.footer .footer-img img{
	display: block;
	max-width: 100%;
}
.footer p {
	font-size: 1.125em;
	line-height: 1.4em;
}