body {
  background-color: #E7E4D8;
  color: #252525;
  font-family: Georgia, 'Times New Roman', serif;
}

/* HEADER */
.header {
  background-color: #D6D3C8;
}
.header::before, .header::after {
  clear: both;
  content: '';
  display: table;
}

.header .logo {
  background-image: url('../images/brafe.png');
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  float: left;
  padding: 20px 0;
  width: 120px;
}
.header .logo h1 {
  overflow: hidden;
  text-indent: -100px;
}

.header .header-menu {
  /* float: right; */
  font-size: 1.125rem;
}
.header-menu li {
  display: inline-block;
  margin: 20px 20px 20px 0;
}

.header-menu li a {
  padding: 20px 0;
}

/* MAIN CONTAINER */
.main {
  display: flex;
}


/* SIDE MENU */
.side-menu {
  background-color: #252525;
  width: 290px;
}

.side-menu a {
  border-bottom: 2px solid #484846;
  color: #FFF;
  display: block;
  font-size: 1.125rem;
  padding: 15px 20px 15px 28px;
  transition: background-color 0.2s linear;
}
.side-menu a:hover {
  background-color: #333333;
}
.side-menu a::before {
  content: '';
  background-image: url('../images/icones.png');
  display: inline-block;
  height: 24px;
  margin-right: 20px;
  position: relative;
  top: 5px;
  width: 24px;
}
.side-menu a.nav-contabilidade::before {
  background-position: 0 0;
}
.side-menu a.nav-produtos::before {
  background-position: 0 -24px;
}
.side-menu a.nav-paginas::before {
  background-position: 0 -48px;
}
.side-menu a.nav-plugins::before {
  background-position: 0 -72px;
}
.side-menu a.nav-formularios::before {
  background-position: 0 -96px;
}
.side-menu a.nav-hospedagem::before {
  background-position: 0 -120px;
}

/* PRODUCTS */
.products {
  width: calc(100% - 290px);
  max-width: 900px;
  padding: 20px;
}

.products-header {
  margin-bottom: 30px;
}
.products-header::before, .products-header::after {
  content: '';
  clear: both;
  display: table;
}

.products-header h2, .products-header button {
  display: inline-block;
}
.products-header h2 {
  font-size: 2.25rem;
  float: left;
}

.products-header button {
  float: right;
  background-color: #C17139;
  border: none;
  color: #E7E4D8;
  padding: 12px 15px;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-radius: 4px;
}

.product-item {
  background-color: #FFF;
  width: 100%;
  margin-bottom: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  position: relative;
}
.product-item::before, .product-item::after {
  content: '';
  display: table;
  clear: both;
}

.product-image, .product-info {
  float: left;
}

.product-info {
  padding: 10px 20px 0 25px;
  width: calc(100% - 140px);
}
.product-info li {
  padding: 10px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125rem;
}
.product-info li:not(:last-child) {
  border-bottom: 1px solid #E7E4D8;
}

.product-info li span {
  font-weight: bold;
  width: 70px;
  display: inline-block;
}

.send-button {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 24px;
  height: 24px;
  background-image: url('../images/edit.svg');
  text-indent: -99px;
  overflow: hidden;
  background-repeat: no-repeat;
}
.send-button:hover {
  background-image: url('../images/edit-hover.svg');
}